[package]
edition = "2021"
name = "lmdb-js-lite"
version = "0.1.5"
repository = "https://github.com/atlassian-labs/atlaspack"

[[bench]]
name = "lmdb_js_safe_benchmark"
harness = false

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
anyhow = { workspace = true }
crossbeam = { workspace = true }
heed = { workspace = true }
lazy_static = { workspace = true }
napi = { workspace = true, features = [
  "async",
  "napi4",
  "napi5",
  "serde-json",
] }
napi-derive = { workspace = true }
rayon = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
lz4_flex = { workspace = true }

[dev-dependencies]
criterion = { workspace = true }
rand = { workspace = true }

[build-dependencies]
napi-build = { workspace = true }
