.collapsibleTableRow {
  height: 20px;
}

.collapsibleTableRowPath {
  vertical-align: baseline;
  padding-left: 16px;
  display: flex;
  gap: 8px;
}

.collapsibleTableRowPathButton {
  border: none;
  background: none;
  width: 16px;
}

.collapsibleTableRowPathPlaceholder {
  width: 16px;
}
