[package]
authors = ["Devon Govett <devongovett@gmail.com>"]
name = "atlaspack-resolver"
version = "0.1.0"
edition = "2021"

[[bench]]
name = "node_resolver_bench"
harness = false

[dependencies]
atlaspack_core = { path = "../../../crates/atlaspack_core" }
atlaspack_filesystem = { path = "../../../crates/atlaspack_filesystem" }

bitflags = "1.3.2" # TODO Update dependency
glob-match = { workspace = true }
indexmap = { workspace = true, features = ["serde"] }
itertools = { workspace = true }
json_comments = { path = "../../../crates/json-comments-rs" }
once_cell = { workspace = true }
parking_lot = { workspace = true }
serde_json5 = { workspace = true }
percent-encoding = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_json = { workspace = true }
thiserror = { workspace = true }
url = { workspace = true }
xxhash-rust = { workspace = true, features = ["xxh3"] }
tracing = { workspace = true }
thread_local = { workspace = true }
tracing-subscriber = { workspace = true }

[dev-dependencies]
assert_fs = { workspace = true }
criterion = { workspace = true }

[target.'cfg(windows)'.dev-dependencies]
is_elevated = { workspace = true }
