[package]
name = "atlaspack_plugin_transformer_js"
version = "0.1.0"
authors = [
  "Pedro Tacla Yamada <tacla.yamada@gmail.com>",
  "Monica Olejniczak <monica.j.olejniczak@gmail.com>",
]
edition = "2021"
description = "JavaScript transformer plugin for the Atlaspack Bundler"

[[bench]]
name = "env_variables_benchmark"
harness = false

[dependencies]
atlaspack_core = { path = "../atlaspack_core" }
atlaspack-js-swc-core = { path = "../../packages/transformers/js/core" }

anyhow = { workspace = true }
async-trait = { workspace = true }
glob-match = { workspace = true }
indexmap = { workspace = true }
nodejs-semver = { workspace = true }
serde = { workspace = true, features = ["derive"] }
swc_core = { workspace = true, features = ["ecma_ast"] }
parking_lot = { workspace = true }

[dev-dependencies]
atlaspack_filesystem = { path = "../atlaspack_filesystem" }

criterion = { workspace = true }
pretty_assertions = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true, features = ["full"] }
