.impactScore {
  position: relative;
  height: 30px;
  border-radius: 4px;
  background-color: var(--ds-surface-sunken);
  border: 1px solid var(--ds-border);
  overflow: hidden;
}

.impactScoreBar {
  position: absolute;
  border-radius: 4px;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 0.5;
  background-color: green;
}

.impactScoreMessage {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
