body,
html {
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

nav {
  display: initial !important;
}

strong {
  font-weight: 600;
}
